DATABASE_URL="postgresql://ahsovn:change-me@ahsovn_postgres:5432/ahsovn?schema=public"

NEXT_PUBLIC_SITE_URL="https://ahso.vn"
NEXT_PUBLIC_APP_URL="https://ahso.vn"
APP_URL="https://ahso.vn"
NEXTAUTH_URL="https://ahso.vn"

JWT_SECRET="change-me"
AUTH_COOKIE_SECURE="true"

SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
FROM_EMAIL=""
EMAIL_FROM_NAME="AHSO"
ADMIN_EMAIL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_AVATAR_PRESET=""
CLOUDINARY_PRODUCT_PRESET=""
CLOUDINARY_PRODUCT_COVER_PRESET=""
CLOUDINARY_BRAND_PRESET=""
CLOUDINARY_CATEGORY_PRESET=""
CLOUDINARY_PRODUCT_TYPE_PRESET=""
CLOUDINARY_HERO_BANNER_PRESET=""
CLOUDINARY_POPUP_BANNER_PRESET=""
CLOUDINARY_SOFTWARE_COVER_PRESET=""
CLOUDINARY_SOLUTION_COVER_PRESET=""

DRIVE_CLIENT_EMAIL=""
DRIVE_PRIVATE_KEY=""
DRIVE_ROOT_PRODUCTS=""
DRIVE_ROOT_BRANDS=""
DRIVE_ROOT_PRODUCTCATEGORIES=""
DRIVE_ROOT_PRODUCTTYPES=""
DRIVE_ROOT_SOLUTIONS=""
DRIVE_ROOT_SOFTWARE=""
DRIVE_ROOT_USERS=""

DEFAULT_TAX_RATE="0.1"
